@import url('https://fonts.cdnfonts.com/css/valorant');

div {
  font-family: 'VALORANT', sans-serif;

  h1 {
    text-align: center;
    color: blue;
  }

  h2 {
    text-align: center;
    color: blue;
  }
}