@import url('https://fonts.cdnfonts.com/css/valorant');

div {
  font-family: 'VALORANT', sans-serif;
  font-weight: bold;

  .welcome {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    font-size: 75px;
    color: white;
  }
}