@import url('https://fonts.cdnfonts.com/css/valorant');

@keyframes hideItem {
  to {
    width:0;
    height:0;
    overflow:hidden;
  }
}

div {
  font-family: 'VALORANT', sans-serif;

  .welcome {
    text-align: center;
    font-size: 50px;
    position: absolute;
    color: white;
    animation: hideItem 0s ease-in 5s forwards;
  }

  .selection {
    text-align: center;
    font-size: 50px;
    position: absolute;
    color: white;
    animation: hideItem 0s ease-in 10s forwards;
  }
}