.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .homeElements {
    margin-top: 30vh;

    .showMapsButton {
      margin-left: 35vw;
    }
  }

  .Titles {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Maps {
    // background-color: #121c39;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
}