@font-face {
  font-family: 'tungsten';
  src: url('../../assets/fonts/tungsten-bold/tungsten-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.mapButton {
  background-color: #000;
  font-family: 'tungsten', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 160px;

  .mapImage {
    max-width: 110%;
    height: auto;
    background-size:cover;
  }

  .mapName{
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    position: absolute;
  }

  & > * {
    transition: .4s;
  }

  &:hover .mapName {
    animation: fadein .4s;
    display: block;
  }

  &:hover img {
    opacity: 0.5;
    transform: scale(1.2);
  }
}